nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
}

.blog_nav_logo_container {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog_nav_logo_container h2 {
  font-size: 2rem;
  font-weight: 600;
}

.blog_nav_logo_container h2 span {
  font-weight: 400;
}

nav button {
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  color: #ffffff;
  background-color: #0404da;
  font-size: 18px;
  cursor: pointer;
}

main h1 {
  font-size: 2.5rem;
  margin-top: 20px;
  text-align: center;
}

main section {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
  background-color: #ffffff;
}

.ques_main_container {
  font-size: 1rem;
  font-weight: 500;
  color: #333333;
  padding: 20px;
  border-bottom: 2px dashed #d7dcff;
}

.ans_main_container {
  padding: 20px;
}

.ans_main_container h2 {
  color: #7f7f7f;
  font-size: 18px;
  font-weight: 400;
}