.dashboard_main_container {
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.dashboard_left_side_container {
  /* border: 2px solid brown; */
  grid-column-start: 1;
  grid-column-end: 10;
}

.dashboard_right_side_container {
  border: 2px solid aqua;
  grid-column-start: 10;
  grid-column-end: -1;
}

/* Left side content style__ */

.dashboard_top_content_container {
  border-bottom: 2px dashed #3752fd33;
  padding-bottom: 20px;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.top_task_container {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column-start: 1;
  grid-column-end: 4;
  padding: 10px;
  border-radius: 8px;
  background-color: #f4f7ff;
}

.top_blog_container {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column-start: 4;
  grid-column-end: 10;
  padding: 10px;
  border-radius: 8px;
  background: linear-gradient(
    130.7deg,
    #3752fd 0.419%,
    #6c7ffa 52.66%,
    #9ba8f8 99.733%
  );
}

.top_date_container {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column-start: 10;
  grid-column-end: -1;
  padding: 10px;
  border-radius: 8px;
  background-color: #f4f7ff;
}

/* Top first content style__ */

.top_task_inner_container {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top_task_image_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 50%;
  background-color: #ffffff;
}

.top_task_inner_container p {
  font-weight: 600;
  color: #4f6c72;
}

.top_task_inner_container h3 {
  font-size: 2rem;
}

/* Top second content style__ */

.top_blog_inner_container {
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.top_blog_inner_container h3 {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 400;
}

/* Top therd content style__ */

.top_date_inner_container {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top_data_image_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 50%;
  background-color: #ffffff;
}